// // ------------------------------------------------
// // FADE IN/OUT AND SCALE
// // ------------------------------------------------
// .fade-appear {
//     opacity: 0;
//     transform: translate(-50%, -50%) scale(0.8);
// }

// .fade-appear-active {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
//     transition: all 400ms ease-in-out;
// }
// // ------------------------------------------------
// .fade-enter {
//     opacity: 0;
//     transform: translate(-50%, -50%) scale(0.8);
// }

// .fade-enter-active {
//     opacity: 0.01;
//     transform: translate(-50%, -50%) scale(0.8);
//     transition: all 400ms ease-in-out;
// }

// .fade-enter-done {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
// }
// // ------------------------------------------------
// .fade-exit {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
// }

// .fade-exit-active {
//     opacity: 0.99;
//     transform: translate(-50%, -50%) scale(0.99);
//     transition: all 400ms ease-in-out;
// }

// .fade-exit-done {
//     opacity: 0;
//     transform: translate(-50%, -50%) scale(0.8);
// }

// // ------------------------------------------------
// // SLIDE IN/OUT
// // ------------------------------------------------
// .slide-appear {
//     opacity: 0;
//     transform: translateY(-100%);
// }

// .slide-appear-active {
//     opacity: 1;
//     transform: translateY(0);
//     transition: all 400ms ease-out;
// }
// // ------------------------------------------------
// .slide-enter {
//     opacity: 0;
//     transform: translateY(-100%);
// }

// .slide-enter-active {
//     opacity: 0.01;
//     transform: translateY(-99%);
//     transition: all 400ms ease-out;
// }

// .slide-enter-done {
//     opacity: 1;
//     transform: translateY(0);
//     transition: all 400ms ease-out;
// }
// // ------------------------------------------------
// .slide-exit {
//     opacity: 1;
//     transform: translateY(0);
// }

// .slide-exit-active {
//     opacity: 0.99;
//     transform: translateY(-0.1%);
//     transition: all 400ms ease-out;
// }

// .slide-exit-done {
//     opacity: 0;
//     transform: translateY(-100%);
//     transition: all 400ms ease-out;
// }
// // ------------------------------------------------
// // ZOOM IN/OUT
// // ------------------------------------------------
// .zoom-appear {
//     opacity: 0;
//     transform: scaleX(0) translate(-50%, -50%);
// }

// .zoom-appear-active {
//     opacity: 0;
//     transform: scaleX(0) translate(-50%, -50%);
//     transition: all 400ms ease-in-out;
// }
// // ------------------------------------------------
// .zoom-enter {
//     transform: scaleX(0) translate(-50%, -50%);
//     opacity: 0;
// }

// .zoom-enter-active {
//     transform: scaleX(0.01) translate(-50%, -50%);;
//     opacity: 0;
//     transition: opacity 400ms ease-out;
// }

// .zoom-enter-done {
//     transform: scaleX(1) translate(-50%, -50%);
//     opacity: 1;
//     transition: opacity 400ms ease-out;
// }
// // ------------------------------------------------
// .zoom-exit {
//     opacity: 1;
//     transform: scaleX(1) translate(-50%, -50%);
// }

// .zoom-exit-active {
//     opacity: 1;
//     transform: scaleX(1) translate(-50%, -50%);
//     transition: opacity 400ms ease-out;
// }

// .zoom-exit-done {
//     opacity: 0;
//     transform: scaleX(0) translate(-50%, -50%);
// }





// ------------------------------------------------
// FADE IN/OUT AND SCALE
// ------------------------------------------------
.fade-appear {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
}

.fade-appear-active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 400ms ease-in-out;
}
// ------------------------------------------------
.fade-enter,
.fade-enter-active {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 400ms ease-in-out;
}

.fade-enter-done {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
// ------------------------------------------------
.fade-exit,
.fade-exit-active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 400ms ease-in-out;
}

.fade-exit-done {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
}

// ------------------------------------------------
// SLIDE IN/OUT
// ------------------------------------------------
.slide-appear {
    opacity: 0;
    transform: translateY(-100%);
}

.slide-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-out;
}
// ------------------------------------------------
.slide-enter,
.slide-enter-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 400ms ease-out;
}

.slide-enter-done {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-out;
}
// ------------------------------------------------
.slide-exit,
.slide-exit-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-out;
}

.slide-exit-done {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 400ms ease-out;
}
// ------------------------------------------------
// ZOOM IN/OUT
// ------------------------------------------------
.zoom-appear {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
}

.zoom-appear-active {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
    transition: all 400ms ease-in-out;
}
// ------------------------------------------------
.zoom-enter,
.zoom-enter-active {
    // transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    transition: opacity 400ms ease-out;
}


.zoom-enter-done {
    // transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    transition: opacity 400ms ease-out;
}
// ------------------------------------------------
.zoom-exit {
    opacity: 1;
    // transform: scale(1) translate(-50%, -50%);
    transition: opacity 400ms ease-out;
}

.zoom-exit-done {
    opacity: 0;
    // transform: scale(0) translate(-50%, -50%);
}