.header {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    background: var(--color-white);
    box-shadow: 1rem 1rem 2rem rgba(128, 128, 128, 0.8);
    z-index: 10;

    &__logo {
        width: 20rem;
        height: auto;
        margin-right: auto;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.05) rotate(-3deg);
        }
    }
}