.loginPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 2px; //test
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 1rem 1rem 2rem rgba(128, 128, 128, 0.8);

    &__logo {
        width: 25rem;
        height: auto;
        margin-bottom: 3rem;
    }

    &__header {
        display: block;
        position: relative;
        margin-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: 300;
        letter-spacing: 2px;

        &:after {
            content: '';
            position: absolute;
            width: 180%;
            height: 3px;
            background: var(--color-primary);
            bottom: -1rem;
            left: -40%;
        }
    }

    &__text {
        display: block;
        margin-bottom: 4rem;
        text-align: center;
        font-size: 1.5rem;
    }

    // &__button {
    //     position: relative;
    //     padding: 1rem 1.5rem;
    //     font-size: 2rem;
    //     text-transform: uppercase;
    //     letter-spacing: 2px;
    //     border: 2px solid var(--color-primary);
    //     border-radius: 2px; //test
    //     background: var(--color-primary);
    //     color: var(--color-white);
    //     transition: color 0.3s ease;
    //     z-index: 400;

    //     &:hover {
    //         color: black
    //     }

    //     &:before {
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         background: var(--color-white);
    //         transform-origin: right;
    //         transition: transform 0.3s ease;
    //         transform: scaleX(0);
    //         z-index: -1;
    //     }

    //     &:hover:before {
    //         transform-origin: left;
    //         transition: transform 0.3s ease;
    //         transform: scaleX(1);
    //     }
    // }
}

