:root {
  // --color-primary: rgb(61, 134, 74);
  --color-primary: rgb(23, 141, 24);
  --color-white: rgb(245, 245, 245);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
